<div id="page-wrapper">
  <div id="modal-wrapper">
    <div id="modal">
      <div id="cards">
        <div class="card" id="login">
          <div class="box">
            <%= link_to image_tag('logo.png', height: 75), 'http://dradisframework.org' %>
          </div>
          <%= form_tag session_path, id: 'login-form' do -%>
            <label>Username
            </label>
            <%= text_field_tag 'login', nil, placeholder: 'Choose any user name you want', class: 'textbox', id: 'login-email', autofocus: true %>
            <label>Password
            </label>
            <%= password_field_tag 'password', nil, class: 'textbox', id: 'login-password' %>

            <button type="submit" class="proceed mt-3">Log-in to your account <i class="ion-ios-arrow-thin-right"></i></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>