@mixin active-nav() {
  &.active {
    position: relative;
    overflow: visible;
    background-color: $sidebarActiveColor;
    
    &:after {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      border: 1.5px solid $white;
    }

    .sidebar-link {
      color: $white;
    }
  }
}

.back-fade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 4;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &.faded {
    opacity: 0.7;
    visibility: initial;
  }

  &.not-faded {
    opacity: 0;
    visibility: hidden;
  }
}

.breadcrumb {
  margin-bottom: 0;
  padding-left: $mainContentPadding;

  .breadcrumb-item + .breadcrumb-item::before {
    font-family: "fontawesome";
    content: "\f105";
  }
}

.page-title {
  margin: 1rem 0 0 $mainContentMargin;
  cursor: default;
}


.view-content-collapsed {
  left: $sidebarCollapsed;
  transition: left .3s ease;
  width: calc(100vw - 43px);
}  

.view-content-expanded {
  left: $sidebarExpanded;
  transition: right .3s ease;
  width: calc(100vw - 250px);
}

.view-content {
  background: $secondaryBgColor;
  position: fixed;
  height: calc(100vh - 60px);
  top: $navbarHeight;
  overflow: auto;
  font-size: 0.9rem;

  .content-container {
    position: relative;
    margin: $mainContentMargin;
    padding: $mainContentPadding;
    background-color: $primaryBgColor;
    border: 1px solid $borderColor;
    border-radius: 5px;

    .alert {
      margin: 1rem 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin-bottom: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;

  &:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  &.primary {
    background-color: #5271C2;
    color: #FFF;
  }

  &.danger {
    background-color: #ef5350;
    color: #FFF;
  }

  &.success {
    background-color: #66bb6a;
    color: #FFF;
  }

  &.info {
    background-color: #26c6da;
    color: #FFF;
  }

  i {
    font-size: 5em;
    opacity: 0.2;
  }

  .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }
}
